[submodule "src/submodules/blog"]
	path = src/submodules/blog
	url = git@github.com:befoxi-studios/blog-functions.git
[submodule "src/submodules/search"]
	path = src/submodules/search
	url = git@github.com:befoxi-studios/search-functions.git
[submodule "src/submodules/roadmap"]
	path = src/submodules/roadmap
	url = git@github.com:befoxi-studios/roadmap-functions.git
