[submodule "src/submodules/blog"]
	path = src/submodules/blog
	url = https://github.com/befoxi-studios/blog-functions.git
[submodule "src/submodules/search"]
	path = src/submodules/search
	url = https://github.com/befoxi-studios/search-functions.git
[submodule "src/submodules/roadmap"]
	path = src/submodules/roadmap
	url = https://github.com/befoxi-studios/roadmap-functions.git
[submodule "src/submodules/i18n"]
	path = src/submodules/i18n
	url = https://github.com/befoxi-studios/i18n-functions.git
